#cssmenu {
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  z-index: 9999;
  margin-top: 15px;
}

ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

ul li a {
  font-size: 13px;
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu > ul > li, .compras > ul > li {
  float: left;
}

.align-right > ul {
  float: right;
  margin: 0;
}

.align-left {
  float: left;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0%;
}

#cssmenu > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #ffffff;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

#cssmenu > ul > li > a, .compras > ul > li > a{
  color:#333333;
  padding: 12px 12px;
  text-transform: uppercase;
  z-index: 2;
  font-weight: 500;
  position: relative;
}

.logo, .compras {
  padding: 12px 12px;
}



#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #529F0F;
}

ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #333333;
}

ul > li:hover > a:before,
ul > li.active > a:before {
  border-top-color: #ffffff;
}

.centrar {
  justify-content: space-between;
}

