#cssmenu {
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  z-index: 9999;
  margin-top: 15px;
}

ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

ul li a {
  font-size: x-small ;
  text-decoration: none;
  display: block;
}

#cssmenu > ul > li, .compras > ul > li {
  float: left;
}

.align-right > ul {
  float: right;
  margin: 0;
}

.align-left {
  float: left;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0%;
}



#cssmenu > ul > li > a, .compras > ul > li > a{
  color:#333333;
  padding: 12px 12px;
  text-transform: uppercase;
  z-index: 2;
  font-weight: bold;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-size: xx-small;
}

.logo {
  position: absolute;
  width: 130px;
  left: calc(50% - 85px);
  padding: 12px 12px;
}


.compras > ul > li > a {
  padding: 12px 12px 12px 0px;
}

.bi-chevron-down {
  width: 12px;
  height: 12px;
  fill: currentColor;
  margin-left: 6px;
}

.bi-cart {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #529F0F;
}

ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #333333;
}


.centrar {
  justify-content: space-between;
}

.menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    #cssmenu {
      display: none;
    }

    .centrar {
      justify-content: end;
      padding: 5%;
      width: 90%;
    }

    .logo {
      left: 5%;
      top: 1%;
    }

    .compras > ul > li > a {
      font-size: small;
    }

    .menu {
      display: block;
      width: 30px;
      height: 30px;
      padding-left: 40px
    }
}
