@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*Da el tamaño y ubicación a nuestro contenido*/ 
.zerogrid {
        width:95%;
        margin: auto;
        max-width: 1024px;
}
/* Filas */
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*Columnas */

.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}


h1, h2, h3, h5 {
    font-family: 'Playfair Display', serif;
    color:#333333;
    
}
h1, h2 {
    font-weight: normal;
}
h1 {
    font-size: xxx-large;
}

h2 {
    font-size: x-large;
    margin-bottom: 2%;
}
p, a {
    font-family: 'Lora', serif;
    color: #575757;
    margin-bottom: 2%;
}
.slider-text > a {
    color: #333333;
    font-size: small;
}
h4{
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    margin-bottom: 5%;
    font-size: small;
}

.slider {
    justify-content: center;
    align-items: center;
}

.slider-img {
    position: relative;
}

.slider-text {
    position: absolute;
    text-align: center;
}

a {
   font-weight: bold;
}
.banner {
    width: 75%;
    margin: auto;
    padding: 8% 10%;
}
.banner-content {
    display: flex;
    align-items: center;
}
.banner-left {
    width: 96%;
    float: left;
    position: relative;
}

.text-banner {
    position: absolute;
    margin: auto 2.5%;
    text-align: left;
}

.text-banner > h2 {
    color: #529F0F;
    font-family: 'Lora', serif;
    font-size: x-large;
}

.text-banner > p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-small;
    font-family: 'Work Sans', sans-serif;
}



.banner-right {
    width: 96%;
    float: right;
}

.bg-1 {
    background-image: url("../img/bg-1.jpg");
    background-size: 100%;
    justify-content: center;
    align-items: center;
}
.bg-3 {
    background-color: #F3F3F3;
}
 .bg-4 {
    background-color: #EBEBEB;
 }

.list-products > ul > li {
    padding: 2%;
    width: 21%;
}

.contenido {
    padding: 8% 10%;
    text-align: center;
    margin: auto;
    width: 100%;
}

.contenido > h3 {
    font-weight: normal;
    font-style: italic;
    margin-bottom: 3%;
}
.footer {
    display: flex;
    text-align: left;
}
.bg-2{
    background-image: url("../img/bg-2.jpg");
    background-size: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form input[type=text] {
    padding: 2% 10% 2% 2%;
}
.btn {
    text-transform: uppercase;
    border: none;
    padding: 2%;
}
.dark {
    color: white;
    background-color: #333333;
    text-transform: uppercase;
}



ul {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: start;
}

.list-news > ul > li {
    padding: 1.5%;
    width: 30.33%;
}
.list-colab > ul > li {
    width: 20%;
}

ul > li > img {
    width: 100%;
    margin-bottom: 10%;
    position: relative;
}

ul > li > p {
    font-size: x-small;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #333333;
}
ul > li > p > span {
    text-decoration: line-through;
    color: #575757;
}

.col-footer {
    text-align: center;
}

.circle {
    background: #529F0F;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: -115% 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle > p{
    font-size: x-small;
    color: white;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}